{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'p01_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Edit P01 {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.SeqNR, 'SeqNR') }}
									    {{ form_widget(form.SeqNR, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.P01, 'P01') }}
									    {{ form_widget(form.P01, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Brand, 'Brand') }}
									    {{ form_widget(form.Brand, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ProductSeries, 'ProductSeries') }}
									    {{ form_widget(form.ProductSeries, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Category, 'Category') }}
									    {{ form_widget(form.Category, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Circular, 'Circular') }}
									    {{ form_widget(form.Circular, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Rectangular, 'Rectangular') }}
									    {{ form_widget(form.Rectangular, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Miniature, 'Miniature') }}
									    {{ form_widget(form.Miniature, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.PushPull, 'PushPull') }}
									    {{ form_widget(form.PushPull, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Fiber, 'Fiber') }}
									    {{ form_widget(form.Fiber, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.WaterProof, 'WaterProof') }}
									    {{ form_widget(form.WaterProof, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Hermetic, 'Hermetic') }}
									    {{ form_widget(form.Hermetic, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.HighSpeed, 'HighSpeed') }}
									    {{ form_widget(form.HighSpeed, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Standard, 'Standard') }}
									    {{ form_widget(form.Standard, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ULiEC, 'ULiEC') }}
									    {{ form_widget(form.ULiEC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CircularBackShell, 'CircularBackShell') }}
									    {{ form_widget(form.CircularBackShell, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.UL, 'UL') }}
									    {{ form_widget(form.UL, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.iEC, 'iEC') }}
									    {{ form_widget(form.iEC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.CSA, 'CSA') }}
									    {{ form_widget(form.CSA, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.MiL_DTL3899_I, 'MiL_DTL3899_I') }}
									    {{ form_widget(form.MiL_DTL3899_I, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.HE308, 'HE308') }}
									    {{ form_widget(form.HE308, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.M85049, 'M85049') }}
									    {{ form_widget(form.M85049, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.EN3660, 'EN3660') }}
									    {{ form_widget(form.EN3660, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.EN2997, 'EN2997') }}
									    {{ form_widget(form.EN2997, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ESC, 'ESC') }}
									    {{ form_widget(form.ESC, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.Coupling, 'Coupling') }}
									    {{ form_widget(form.Coupling, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
